.wrapper {
    width: 100vw;
    height: calc(100vh - 64px);
    background: #000;
}

.containerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.containerContent h1 {
    font-size: 5.7rem;
    color: red;
}

.containerContent h2 {
    color: white;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.containerContent p {
    color: #9ca3af;
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

.containerContent a {
    color: #fff ;
    text-decoration-line: underline;
}

.containerContent a:hover {
    color: #1d4ed8;
}

